


<div class=" container col-12 col-md-8 col-lg-8">
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carrPrincipal carousel-item active">
      <img src="/images/cover-salir-de-vacaciones-en-auto-con-ninos-no-sera-mas-un-problema-1900Wx500H.png" class=" d-block w-100" height="600px" alt="...">
    </div>
    <div class="carrPrincipal carousel-item">
      <img src="/images/shutterstock3.jpg" class=" d-block w-100" height="600px" alt="...">
    </div>
    <div class="carrPrincipal carousel-item">
      <img src="/images/Pareja-en-coche2.jpg" class=" d-block w-100" height="600px" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>

<h2 class=" container text-center text-black mt-5">CONTAMOS CON LAS PRINCIPALES MARCAS DEL MERCADO</h2>

<div class="fotosMarcas d-flex container-fluid my-5 justify-content-around align-items-center ">
<img src="/images/logonissan.png" width="160px" height="150px">
<img src="/images/logovw.png" width="150px" height="150px">
<img src="/images/logopeugeot.png" width="150px" height="150px">
<img src="/images/logochevrolet.png" width="190px" height="100px">

<img src="/images/logoHonda.png" width="200px" height="150px">
</div>

<hr>

<h2 class=" container text-center text-black mt-5">NUESTROS CLIENTES NOS AVALAN</h2>

<div class="d-flex row row-cols-1 row-cols-md-5 g-4 mb-5 mt-3 justify-content-center ">
  <div class="col ">
    <div class="card h-100 align-items-center py-3 border border-warning rounded bg-light">
      <img src="/images/hombreRubio.jpg" class="imgPersona rounded-circle">
      <img src="/images/5estrellas.png" class="imgEstrella card-img-top mt-3" alt="...">
      <div class=" card-body ">
        <h5 class="d-flex card-title justify-content-center">"Excelente"</h5>
        <p class="card-text ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet ullam placeat, explicabo amet nostrum omnis iure quasi reprehenderit, sunt repellat cum totam officia doloremque perferendis eos mollitia recusandae itaque voluptas.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 align-items-center py-3 border border-warning rounded bg-light">
      <img src="/images/mujerSonriente2.jpg" class="imgPersona rounded-circle">
      <img src="/images/5estrellas.png" class="imgEstrella card-img-top mt-3 " alt="...">
      <div class="card-body">
        <h5 class="d-flex card-title justify-content-center">"Muy atentos"</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae repellat nulla architecto. Adipisci dolor libero soluta error, perspiciatis est impedit reiciendis ratione atque deserunt quod vitae ut repellat repellendus totam..</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 align-items-center py-3 border border-warning rounded bg-light">
      <img src="/images/hombreSonriente.jpg" class="imgPersona rounded-circle">
      <img src="/images/5estrellas.png" class="imgEstrella card-img-top mt-3" alt="...">
      <div class="card-body">
        <h5 class="d-flex card-title justify-content-center">"Rápida entrega"</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio ipsum ratione excepturi blanditiis nemo nulla deleniti quam consectetur! Quae voluptatum corrupti voluptates perferendis vero. Itaque, autem! Ea ipsa fugit quo?.</p>
      </div>
    </div>
  </div>
</div>



<hr>

<div class="container card mb-3 col-9 border border-warning rounded mt-5 mb-5 bg-light"  >
  <div class="row g-0">
    <div class="imagenQuienes col-md-4" id="quienesSomos">
      <img src="/images/Persona-comprando-auto2.jpg" class="mt-3 img-fluid rounded-start" >
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title ">¿QUIENES SOMOS?</h3>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quas mollitia ut accusamus similique placeat aspernatur nesciunt eos tempora nisi ipsum commodi, dignissimos eum recusandae minus asperiores perferendis quam? Provident?
        Ad fugiat non maxime nobis officiis, quo pariatur, commodi iste rem aliquam repellat atque cumque voluptatum suscipit excepturi impedit consequuntur voluptatibus soluta ut! Maiores labore sunt accusantium ipsa accusamus natus.
        Maxime perspiciatis tempore a! Nam nisi, maxime, quo, soluta distinctio aut harum autem ut ipsum doloremque qui! Unde necessitatibus cumque in odio officiis, nulla blanditiis dolores, optio velit adipisci omnis.</p>
        <p class="card-text"><small class="text-muted">¡Te esperamos en nuestras sucursales!</small></p>
      </div>
    </div>
  </div>
</div>



<h2 class="container text-center text-black mt-5">SUCURSALES</h2>



<div class="card-deck d-flex row row-cols-1 row-cols-md-5 g-4 mb-5 mt-3 justify-content-center ">
  <div class="card border border-warning rounded bg-light">
    <div class="card-body ">
      <h5 class="card-title text-center mb-3"><a href="https://www.google.com.ar/maps/place/Esprit+Pourtau+Peugeot+concesionario+autoplan+plan+concesionaria+peugeot+0km+oficial+peugeot+en+la+plata+talleres/@-34.9210669,-57.9667077,13.5z/data=!4m9!1m2!2m1!1sconcesionario+peugeot+cerca+de+La+Plata,+Provincia+de+Buenos+Aires!3m5!1s0x95a2e738c5973dc9:0xecf609b154602dbe!8m2!3d-34.9127723!4d-57.9835551!15sCkJjb25jZXNpb25hcmlvIHBldWdlb3QgY2VyY2EgZGUgTGEgUGxhdGEsIFByb3ZpbmNpYSBkZSBCdWVub3MgQWlyZXNaQyJBY29uY2VzaW9uYXJpbyBwZXVnZW90IGNlcmNhIGRlIGxhIHBsYXRhIHByb3ZpbmNpYSBkZSBidWVub3MgYWlyZXOSAQ5wZXVnZW90X2RlYWxlcpoBJENoZERTVWhOTUc5blMwVkpRMEZuU1VSRE9XOVBSRE5CUlJBQg" > LA PLATA</a></h5>
      <p class="card-text">Av. 32 N°1279, B1900 La Plata, Provincia de Buenos Aires.</p> 
    </div>
  </div>
  <div class="card  border border-warning rounded bg-light">  
    <div class="card-body">
      <h5 class="card-title text-center mb-3"><a href="https://www.google.com.ar/maps/place/Concesionario+Renault+-+Rosario+-+Centro+S.A./@-32.9371025,-60.6263236,11.21z/data=!4m5!3m4!1s0x95b7ab3cb069c061:0xf9c97855ce24634c!8m2!3d-32.939311!4d-60.640818">ROSARIO</a></h5>
      <p class="card-text">Corrientes 250, S2000 Rosario, Santa Fe.</p>
    </div>
  </div>
  <div class="card  border border-warning rounded bg-light">
    <div class="card-body">
      <h5 class="card-title text-center mb-3"><a href="https://www.google.com.ar/maps/place/Concesionaria+Fiat/@-34.5062824,-58.4956307,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcb116e90a101b:0x9b4b6e17399364bd!8m2!3d-34.5062917!4d-58.4934513">OLIVOS</a></h5>
      <p class="card-text">Av. Maipú 3210, La Lucila, Provincia de Buenos Aires.</p>
    </div>
  </div>
  <div class="card  border border-warning rounded bg-light">
    <div class="card-body">
      <h5 class="card-title text-center mb-3"><a href="https://www.google.com.ar/maps/place/Concesionaria+IVECO/@-31.3864665,-64.1782999,17z/data=!3m1!4b1!4m5!3m4!1s0x94329841745f4e9b:0xb84a2800d6dd4d4e!8m2!3d-31.3864595!4d-64.1761519"  >CORDOBA</a></h5>
      <p class="card-text">Avenida Juan B. Justo 3331, Córdoba.</p>
    </div>
  </div>
</div>


<footer class="container-fluid text-white d-flex justify-content-center align-items-center">

 <p class="footer2 col-md-3 mb-0">&copy; SINCE 2021.</p>
    <a href="#">  <img src="/images/logo 3.png"  class="img-fluid" width="120px" height="80px"></a>

</footer>
